body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -moz-radial-gradient(circle at center, #e0d0c1, #a76d60) fixed;
  background: -webkit-radial-gradient(circle at center, #e0d0c1, #a76d60) fixed;
  background: -ms-radial-gradient(circle at center, #e0d0c1, #a76d60) fixed;
  background: -o-radial-gradien(circle at center, #e0d0c1, #a76d60) fixed;
  background: radial-gradient(circle at center, #e0d0c1, #a76d60) fixed;
}

.title-app {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

h1 {
  font-weight: bold;
}

.shiny-notification-message {
  color: #fff !important;
  background-color: #a76d60 !important;
  border: 1px solid #a76d60 !important;
}

#shiny-notification-panel {
  width: 350px !important;
  text-align: center !important;
}